Tamagotchi.Web/Service References/TamagotchiService/TamagotchiService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://netvontamaserveuro.azurewebsites.net/TamagotchiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tamagotchi.Service" />
  <xs:element name="SleepByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SleepByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SleepByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SleepById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SleepByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SleepByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EatByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EatByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EatByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EatById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EatByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EatByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkoutByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkoutByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkoutByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkoutById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkoutByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkoutByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HugByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HugByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HugByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HugById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HugByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HugByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tamagotchi.Service" minOccurs="0" name="GetTamagotchiByNameResult" nillable="true" type="q1:TamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tamagotchi.Service" minOccurs="0" name="GetTamagotchiByIdResult" nillable="true" type="q2:TamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTamagotchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tamagotchi.Service" minOccurs="0" name="AddTamagotchiResult" nillable="true" type="q3:CreateContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTamagotchiByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTamagotchiByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTamagotchiByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTamagotchiById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTamagotchiByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTamagotchiByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsKnownId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsKnownIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsKnownIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsKnownName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsKnownNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsKnownNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTamagotchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tamagotchi.Service" minOccurs="0" name="GetAllTamagotchiResult" nillable="true" type="q4:ArrayOfTamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateRuleForTamagotchiByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateRuleForTamagotchiByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateRuleForTamagotchiByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateRuleForTamagotchiById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
        <xs:element minOccurs="0" name="ruleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateRuleForTamagotchiByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateRuleForTamagotchiByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateRuleForTamagotchiByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateRuleForTamagotchiByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateRuleForTamagotchiByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateRuleForTamagotchiById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamagotchiId" type="xs:int" />
        <xs:element minOccurs="0" name="ruleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateRuleForTamagotchiByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateRuleForTamagotchiByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TamagotchiCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TamagotchiCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamagotchiCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TamagotchiPerPage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TamagotchiPerPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamagotchiPerPageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>